#Lets clean the file

In [6]:
import pandas as pd
dataset = pd.read_csv("raw_data.csv")
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   City                  8399 non-null   object
 1   Customer Age          7496 non-null   float64
 2   Customer Name         8399 non-null   object
 3   Customer Segment      8399 non-null   object
 4   Discount              8399 non-null   float64
 5   Number of Records     8399 non-null   int64
 6   Order Date            8399 non-null   object
 7   Order ID              8399 non-null   int64
 8   Order Priority        8399 non-null   object
 9   Order Quantity        8399 non-null   int64
 10  Product Base Margin   8336 non-null   float64
 11  Product Category      8399 non-null   object
 12  Product Container     8399 non-null   object
 13  Product Name          8399 non-null   object
 14  Product Sub-Category  8399 non-null   object
 15  Profit                8399 non-null   float64
 16  Region                8399 non-null   object
 17  Row ID                8399 non-null   int64
 18  Sales                 8399 non-null   float64
 19  Ship Date             8399 non-null   object
 20  Ship Mode             8399 non-null   object
 21  Shipping Cost         8399 non-null   float64
 22  State                 8399 non-null   object
 23  Unit Price            8399 non-null   float64
 24  Zip Code              8399 non-null   int64
dtypes: float64(7), int64(5), object(13)
memory usage: 1.6+ MB

#convert the datatype of shipdate and order date

In [7]:
dataset["Order Date"] = pd.to_datetime(dataset["Order Date"])
dataset["Ship Date"]  = pd.to_datetime(dataset["Ship Date"])
dataset.dtypes

City                            object
Customer Age                   float64
Customer Name                   object
Customer Segment                object
Discount                       float64
Number of Records                int64
Order Date              datetime64[ns]
Order ID                         int64
Order Priority                  object
Order Quantity                   int64
Product Base Margin            float64
Product Category                object
Product Container               object
Product Name                    object
Product Sub-Category            object
Profit                         float64
Region                          object
Row ID                           int64
Sales                          float64
Ship Date               datetime64[ns]
Ship Mode                       object
Shipping Cost                  float64
State                           object
Unit Price                     float64
Zip Code                         int64
dtype: object

#fill the missing

In [8]:
dataset["Customer Age"] = dataset["Customer Age"].fillna(dataset["Customer Age"].median())
dataset["Product Base Margin"] = dataset["Product Base Margin"].fillna(dataset["Product Base Margin"].median())
dataset.isnull().sum()

City                    0
Customer Age            0
Customer Name           0
Customer Segment        0
Discount                0
Number of Records       0
Order Date              0
Order ID                0
Order Priority          0
Order Quantity          0
Product Base Margin     0
Product Category        0
Product Container       0
Product Name            0
Product Sub-Category    0
Profit                  0
Region                  0
Row ID                  0
Sales                   0
Ship Date               0
Ship Mode               0
Shipping Cost           0
State                   0
Unit Price              0
Zip Code                0
dtype: int64

#For the mistakes of upper/lower letter in header

In [9]:
text_columns = [
    "City","Customer Name","Customer Segment","Order Priority",
    "Product Category","Product Sub-Category","Product Container",
    "Region","Ship Mode","State","Product Name"
]
for col in text_columns:
    dataset[col] = dataset[col].str.strip().str.title()

In [10]:
dataset["Zip Code"] = dataset["Zip Code"].astype(str)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   City                  8399 non-null   object
 1   Customer Age          8399 non-null   float64
 2   Customer Name         8399 non-null   object
 3   Customer Segment      8399 non-null   object
 4   Discount              8399 non-null   float64
 5   Number of Records     8399 non-null   int64
 6   Order Date            8399 non-null   datetime64[ns]
 7   Order ID              8399 non-null   int64
 8   Order Priority        8399 non-null   object
 9   Order Quantity        8399 non-null   int64
 10  Product Base Margin   8399 non-null   float64
 11  Product Category      8399 non-null   object
 12  Product Container     8399 non-null   object
 13  Product Name          8399 non-null   object
 14  Product Sub-Category  8399 non-null   object
 15  Profit                8399 non-null   float64
 16  Region                8399 non-null   object
 17  Row ID                8399 non-null   int64
 18  Sales                 8399 non-null   float64
 19  Ship Date             8399 non-null   datetime64[ns]
 20  Ship Mode             8399 non-null   object
 21  Shipping Cost         8399 non-null   float64
 22  State                 8399 non-null   object
 23  Unit Price            8399 non-null   float64
 24  Zip Code              8399 non-null   object
dtypes: datetime64[ns](2), float64(7), int64(4), object(12)
memory usage: 1.6+ MB

In [11]:
#To check duplicates

In [12]:
print("Duplicate rows:", dataset.duplicated().sum())

Duplicate rows: 0

In [13]:
dataset.iloc[2:3]

,City,Customer Age,Customer Name,Customer Segment,Discount,Number of Records,Order Date,Order ID,Order Priority,Order Quantity,...,Profit,Region,Row ID,Sales,Ship Date,Ship Mode,Shipping Cost,State,Unit Price,Zip Code
2,Napa,53.0,Alan Schoenberger,Corporate,0.0,1,2012-01-02,37537,Low,4,...,-193.08,West,5272,1239.06,2012-01-02,Delivery Truck,48.8,California,291.73,94559

In [ ]:
#lets check if the missing are sorted

In [8]:
dataset.isnull().sum()

City                    0
Customer Age            0
Customer Name           0
Customer Segment        0
Discount                0
Number of Records       0
Order Date              0
Order ID                0
Order Priority          0
Order Quantity          0
Product Base Margin     0
Product Category        0
Product Container       0
Product Name            0
Product Sub-Category    0
Profit                  0
Region                  0
Row ID                  0
Sales                   0
Ship Date               0
Ship Mode               0
Shipping Cost           0
State                   0
Unit Price              0
Zip Code                0
dtype: int64

In [9]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8399 entries, 0 to 8398
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   City                  8399 non-null   object
 1   Customer Age          8399 non-null   float64
 2   Customer Name         8399 non-null   object
 3   Customer Segment      8399 non-null   object
 4   Discount              8399 non-null   float64
 5   Number of Records     8399 non-null   int64
 6   Order Date            8399 non-null   datetime64[ns]
 7   Order ID              8399 non-null   int64
 8   Order Priority        8399 non-null   object
 9   Order Quantity        8399 non-null   int64
 10  Product Base Margin   8399 non-null   float64
 11  Product Category      8399 non-null   object
 12  Product Container     8399 non-null   object
 13  Product Name          8399 non-null   object
 14  Product Sub-Category  8399 non-null   object
 15  Profit                8399 non-null   float64
 16  Region                8399 non-null   object
 17  Row ID                8399 non-null   int64
 18  Sales                 8399 non-null   float64
 19  Ship Date             8399 non-null   datetime64[ns]
 20  Ship Mode             8399 non-null   object
 21  Shipping Cost         8399 non-null   float64
 22  State                 8399 non-null   object
 23  Unit Price            8399 non-null   float64
 24  Zip Code              8399 non-null   object
dtypes: datetime64[ns](2), float64(7), int64(4), object(12)
memory usage: 1.6+ MB